*.png
*pycache*
.ipynb_checkpoints/
*~
.DS_Store
# ignore spectral data downloaded by download_HST_data.py and get_gaia.py
data/gaia/BD+32d270.dat
data/gaia/BD+35d4258.dat
data/gaia/BD+52d3210.dat
data/gaia/BD+53d2820.dat
data/gaia/BD+56d524.dat
data/gaia/HD001383.dat
data/gaia/HD013268.dat
data/gaia/HD014250.dat
data/gaia/HD014434.dat
data/gaia/HD015558.dat
data/gaia/HD017505.dat
data/gaia/HD023060.dat
data/gaia/HD027778.dat
data/gaia/HD037332.dat
data/gaia/HD037525.dat
data/gaia/HD037903.dat
data/gaia/HD038087.dat
data/gaia/HD045314.dat
data/gaia/HD046056.dat
data/gaia/HD046150.dat
data/gaia/HD046202.dat
data/gaia/HD047129.dat
data/gaia/HD047240.dat
data/gaia/HD047417.dat
data/gaia/HD051013.dat
data/gaia/HD062542.dat
data/gaia/HD073882.dat
data/gaia/HD075309.dat
data/gaia/HD091651.dat
data/gaia/HD091824.dat
data/gaia/HD091983.dat
data/gaia/HD093028.dat
data/gaia/HD093222.dat
data/gaia/HD093250.dat
data/gaia/HD093827.dat
data/gaia/HD094493.dat
data/gaia/HD096675.dat
data/gaia/HD096715.dat
data/gaia/HD097471.dat
data/gaia/HD099872.dat
data/gaia/HD099890.dat
data/gaia/HD100213.dat
data/gaia/HD100276.dat
data/gaia/HD101190.dat
data/gaia/HD101205.dat
data/gaia/HD103779.dat
data/gaia/HD104705.dat
data/gaia/HD114444.dat
data/gaia/HD116852.dat
data/gaia/HD122879.dat
data/gaia/HD124979.dat
data/gaia/HD147888.dat
data/gaia/HD148422.dat
data/gaia/HD149404.dat
data/gaia/HD151805.dat
data/gaia/HD152233.dat
data/gaia/HD152234.dat
data/gaia/HD152248.dat
data/gaia/HD152249.dat
data/gaia/HD152723.dat
data/gaia/HD157857.dat
data/gaia/HD160993.dat
data/gaia/HD163522.dat
data/gaia/HD164816.dat
data/gaia/HD164906.dat
data/gaia/HD165052.dat
data/gaia/HD167402.dat
data/gaia/HD167771.dat
data/gaia/HD168076.dat
data/gaia/HD168941.dat
data/gaia/HD172140.dat
data/gaia/HD178487.dat
data/gaia/HD179406.dat
data/gaia/HD179407.dat
data/gaia/HD185418.dat
data/gaia/HD188001.dat
data/gaia/HD190603.dat
data/gaia/HD192639.dat
data/gaia/HD197770.dat
data/gaia/HD198781.dat
data/gaia/HD199579.dat
data/gaia/HD200775.dat
data/gaia/HD203938.dat
data/gaia/HD206267.dat
data/gaia/HD206773.dat
data/gaia/HD207198.dat
data/gaia/HD209339.dat
data/gaia/HD210809.dat
data/gaia/HD216898.dat
data/gaia/HD235874.dat
data/gaia/HD239729.dat
data/gaia/HD326329.dat
data/BD+52 3210/
data/BD+52d3210/
data/BD+56 524/
data/BD+56d524/
data/HD023060/
data/HD037332/
data/HD037525/
data/HD045314/
data/HD046202/
data/HD047129/
data/HD051013/
data/HD062542/
data/HD093028/
data/HD093827/
data/HD094493/
data/HD096675/
data/HD097471/
data/HD099872/
data/HD152248/
data/HD179406/
data/HD190603/
data/HD197770/
data/HD209339/
data/HD216898/
data/HD235874/
data/HD326329/
# ignore updated tables (generate them as explained in readme)
data/fuse_h1_h2_with_lyafitting.fits
data/fuse_h2_details_comp.dat
data/fuse_h2_details_kept.dat
data/fuse_h2_details_main.dat
# ignore outputted figured
rho_histograms
# ignore downloaded file by get_jenkins2019_hi_h2.sh
jenkins2019_hi_h2.fits
